 
  
body {
    position: relative;
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sens-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
            box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    font-size: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-navigation-logo {
    position: absolute;
    top: 0;
    left: 530px;
    width: 140px;
    height: 71px;
    z-index: 1;
}

.main-navigation {
    position: relative;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
}

.site-navigation,
.features-list,
.footer-social-list,
.filters-form-checkbox-container,
.result-sorting-list,
.results-list {
    list-style: none;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.site-navigation-item {
    width: 240px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: auto;
    padding-top: 14px;
    padding-bottom: 16px;
    text-align: center;
    word-wrap: break-word;
}

.site-navigation-item:nth-child(4n+2) {
    margin-right: 240px;
}


.site-navigation-item-link {
    color: #000000;
}

.site-navigation-item-link:hover,
.site-navigation-item-link:focus {
    color: #81b3d2;
    outline: none;
}

.site-navigation-item-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item-link.active {
    color: #766357;
}

.introduction {
    position: relative;
    margin-bottom: 65px;
    background-color: #81b3d2;
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: center -85px;
}

.introduction:after {
    position: absolute;
    bottom: -5px;
    content: "";
    z-index: 1;
    width: 100%;
    height: 59px;
    background-image: url("../img/polygon.svg");
}

.introduction img {
    display: block;
    padding: 75px 0px;
    margin: 0 auto;
}

.info {
    margin: 0;
    padding: 0;
}

.info-title {
    display: block;
    margin: 0 auto;
    margin-bottom: 26px;
    padding: 0px;
    width: 610px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.info-desc {
    display: block;
    padding: 0;
    padding-left: 3px;
    margin: 0;
    margin-bottom: 50px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-align: center;
}

.features-item-title {
    display: block;
    width: 151px;
    padding: 0 auto;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: 700;
    text-align: center;
}

.features-item-number,
.features-item-desc {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333333;
}

.features-item-number {
    margin-bottom: 20px;
}

.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 47px;
}

.features-item-wrapper {
    width: 400px;
    padding: 48px 45px 46px 45px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.features-item:first-child .features-item-desc {
    padding: 0 10px;
}

.features-item:first-child,
.features-item:nth-child(5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #81b3d2;
}

.features-item:first-child h3,
.features-item:nth-child(5) h3 {
    color: #ffffff;
}

.features-item:first-child p,
.features-item:nth-child(5) p {
    color: #ffffff;
}

.features-item:nth-child(6),
.features-item:nth-child(7),
.features-item:nth-child(8) {
    background-color: #eeeeee;
}

.features-item:nth-child(2) .features-item-title,
.features-item:nth-child(3) .features-item-title,
.features-item:nth-child(4) .features-item-title {
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 161px;
    margin-left: 125px;
    margin-bottom: 25px;
    text-align: center;
}

.features-item:nth-child(2) .features-item-desc,
.features-item:nth-child(3) .features-item-desc,
.features-item:nth-child(4) .features-item-desc {
    margin: 0;
    margin-left: 57px;
    margin-right: 58px;
    margin-bottom: 80px;
    padding: 0;
    width: 285px;
}

.features-item:nth-child(2) .features-item-title:before,
.features-item:nth-child(3) .features-item-title:before,
.features-item:nth-child(4) .features-item-title:before {
    position: absolute;
    content: "";
    width: 75px;
    height: 75px;
}

.features-item:nth-child(2) .features-item-title:before {
    top: -100px;
    left: 38px;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
}

.features-item:nth-child(3) .features-item-title:before {
    top: -100px;
    left: 38px;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
}

.features-item:nth-child(4) .features-item-title:before {
    top: -105px;
    left: 42px;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
}

.features-item:nth-child(6) .features-item-title,
.features-item:nth-child(7) .features-item-title,
.features-item:nth-child(8) .features-item-title {
    b margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-left: 125px;
    margin-bottom: 25px;
    text-align: center;
}

.features-item:nth-child(6) .features-item-desc,
.features-item:nth-child(7) .features-item-desc,
.features-item:nth-child(8) .features-item-desc {
    margin: 0;
    margin-left: 57px;
    margin-right: 62px;
    margin-bottom: 60px;
    padding: 0 10px;
    width: 261px;
}

.search-title {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: 700;
    text-align: center;
}

.search-desc {
    width: 435px;
    margin: 0 auto;
    margin-bottom: 48px;
    padding: 0;
    line-height: 24px;
    text-align: center;
    color: #333333;
}

.search-desc-wrapper {
    display: block;
    margin: 0 auto;
    width: 326px;
}

.button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
}

.search-button {
    display: block;
    width: 568px;
    padding: 30px 138px;
    margin: 0 auto;
    background-color: #766357;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    white-space: nowrap;
}

.search-button:hover,
.search-button:focus {
    background-color: #604e43;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.map {
    position: relative;
    min-height: 594px;
}

.map iframe {
    position: relative;
    z-index: 2;
    border: none;
}

.map img {
    width: 1200px;
    height: 594px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -600px;
    z-index: 2;
    padding-top: 7px;
    background-color: #ffffff;
    opacity: 0.9;
}

.footer-tag {
    margin: 36px 132px 53px 132px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.footer-social-list {
    width: 160px;
    padding: 0;
    margin-top: 22px;
    margin-left: 125px;
    margin-right: 210px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
}

.footer-social-item-link {
    display: block;
    width: 46px;
    height: 48px;
    margin-right: 6px;
    margin-bottom: 6px;
    background-color: #81b3d2;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-social-item-link:hover,
.footer-social-item-link:focus {
    background-color: #669ec0;
}

.footer-social-item-link:active {
    background-color: #5496bd;
}

.footer-social-item:last-child a {
    margin-right: 0;
}

.footer-social-item:first-child a {
    background-image: url("../img/twitter.svg");
}

.footer-social-item:first-child a:active {
    background-image: url("../img/twitter-act.svg");
}

.footer-social-item:nth-child(2) a {
    background-image: url("../img/fb-icon.svg");
}

.footer-social-item:nth-child(2) a:active {
    background-image: url("../img/fb-icon-act.svg");
}

.footer-social-item:nth-child(3) a {
    background-image: url("../img/youtube.svg");
}

.footer-social-item:nth-child(3) a:active {
    background-image: url("../img/youtube-act.svg");
}

.footer-copyright {
    position: relative;
    margin-top: 37px;
    padding-left: 10px;
    line-height: 26px;
    color: #000000;
    text-align: center;
}

.footer-copyright-link {
    position: absolute;
    top: -7px;
    left: 94px;
}

.search-field-title {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-align: left;
    font-weight: 700;
}

.footer-copyright-link:hover path,
.footer-copyright-link:focus path {
    fill: #81b3d2;
}

.footer-copyright-link:focus {
    outline: none;
}

.footer-copyright-link:active path {
    fill: #bdbbbc;
}

.search-field input {
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #f2f2f2;
    border: none;
}

.search-field input:hover {
    background-color: #ebebeb;
    border: none;
}

.search-field input:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

.search-field input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.search-field input:-moz-placeholder {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.search-field input::-moz-placeholder {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.search-field input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.search-form-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    width: 458px;
    padding: 17px 195px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #81b3d2;
    border: none;
}

.search-form-button:hover,
.search-form-button:focus {
    background-color: #669ec0;
}

.search-form-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.filters-form-checkbox {
    border: none;
}

.filters {
    background-color: #81b3d2;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.filters-form-checkbox-title,
.filters-form-range-title {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    font-weight: 700;
}

.filters-form-checkbox-item-title,
.filters-form-range-limits-lower,
.filters-form-range-limits-top {
    line-height: 21px;
    color: #ffffff;
}

.filter-button {
    display: block;
    margin: 0 auto;
    padding: 6px 34px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-weight: 400;
    text-transform: inherit;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    color: #000000;
    background-color: #ffffff;
    outline: none;
}

.result-sorting-number {
    min-width: 117px;
    margin: 0;
    margin-right: 47px;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
}

.result-sorting-title,
.result-sorting-item {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.result-sorting-title {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-left: 2px;
    color: #000000;
}

.result-sorting-item {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    -webkit-text-decoration-color: #81b3d2;
            text-decoration-color: #81b3d2;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
}

.result-sorting-item.active {
    color: #81b3d2;
    text-decoration: none;
}

.result-sorting-item:hover,
.result-sorting-item:focus {
    color: #81b3d2;
}

.result-sorting-item:active {
    color: #000000;
    text-decoration: none;
}

.results-item-content-title-link {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
}

.results-item-content-title-link:hover,
.results-item-content-title-link:focus {
    color: #81b3d2;
    outline: none;
}

.results-item-content-title-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.results-item-content-desc-type,
.results-item-content-desc-price {
    line-height: 21px;
    color: #333333;
}

.button-more {    
    font-size: 14px;
    line-height: 21px;
    background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
    background-color: #669ec0;
}

.button-more:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.button-book {
    font-size: 14px;
    line-height: 21px;
    background-color: #766357;
}

.button-book:hover,
.button-book:focus {
    background-color: #604e43;
}

.button-book:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.results-item-content-rate {
    color: #666666;
    background-color: #f2f2f2;
}

.search-dropdown {
    display: none;
    position: absolute;
    z-index: 10;
    top: 243px;
    left: 315px;
    width: 568px;
    -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
            box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
    padding: 55px 57px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #ffffff;
}

.search {
    position: relative;
}

.search-dropdown-show {
    display: block;
    -webkit-animation: bounce 0.5s;
            animation: bounce 0.5s;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-86px);
                transform: translateY(-86px);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-86px);
                transform: translateY(-86px);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

.search-dropdown-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

.search-field {
    display: block;
    position: relative;
    white-space: nowrap;
}

.search-field-arrival,
.search-field-exit {
    position: relative;
    width: 346px;
    min-height: 38px;
    padding: 7px 40px 7px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.search-field {
    position: relative;
    margin-bottom: 27px;
}

.calendar {
    position: absolute;
    top: 10px;
    left: 425px;
    z-index: 100;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.calendar:hover path,
.calendar:focus path {
    fill: #000000;
}

.calendar:focus {
    outline: none;
}

.calendar:active path {
    fill: #81b3d2;
}

.search-field:nth-child(1) .search-field-title {
    margin-right: 19px;
}

.search-field:nth-child(2) .search-field-title {
    margin-right: 15px;
}

.search-field:nth-child(3) .search-field-title {
    margin-right: 36px;
}

.search-field:nth-child(4) .search-field-title {
    margin-right: 27px;
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.search-field {
    font-size: 0;
}

.plus,
.minus {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    min-width: 38px;
    min-height: 38px;
    background-color: #f2f2f2;
}

.minus:before,
.plus:before {
    content: "";
    position: absolute;
    top: 17px;
    left: 13px;
    width: 12px;
    height: 4px;
    background-color: #a9a9a9;
    cursor: pointer;
}

.plus:after {
    content: "";
    position: absolute;
    top: 13px;
    left: 17px;
    width: 4px;
    height: 12px;
    background-color: #a9a9a9;
    cursor: pointer;
}

.minus:focus,
.plus:focus {
    outline: none;
}

.minus:hover:before,
.plus:hover:before,
.plus:hover:after,
.minus:focus:before,
.plus:focus:before,
.plus:focus:after {
    background-color: #000000;
}

.minus:active:before,
.plus:active:before,
.plus:active:after {
    background-color: #81b3d2;
}

.search-field-adult,
.search-field-child {
    margin: 0;
    padding:  0 10px;
    width: 38px;
    height: 38px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.search-field-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
}

.minus {
    margin-left: 20px;
}

.result-sorting {
    margin: 0;
    padding: 30px 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #cacaca;
}

.result-sorting-container {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.result-sorting-list {
    margin: 0;
    padding-top: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

}

.result-sorting-item {
    margin-right: 33px;
}

.result-sorting-arrow-top:hover path,
.result-sorting-arrow-down:hover path,
.result-sorting-arrow-top:focus path,
.result-sorting-arrow-down:focus path,
.result-sorting-arrow-top.active:hover path,
.result-sorting-arrow-down.active:hover path,
.result-sorting-arrow-top.active:focus path,
.result-sorting-arrow-down.active:focus path {
    fill: #231F20;
}

.result-sorting-arrow-top:active path,
.result-sorting-arrow-down:active path,
.result-sorting-arrow-top.active path,
.result-sorting-arrow-down.active path,
.result-sorting-arrow-top.active:active path,
.result-sorting-arrow-down.active:active path {
    fill: #81b3d2;
}

.result-sorting-arrow-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    padding-top: 3px;
    margin: 0;
    list-style: none;
}

.result-sorting-arrow-top {
    margin-right: 10px;
}

.results-content {
    margin: 0;
    padding: 0;
}

.results-list {
    margin: 0;
    padding: 0;
}

.results-item {
    margin: 0;
    padding: 30px 73px 24px 73px;
    border-bottom: 1px solid #cacaca;
}

.results-item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.results-item-content-rating-star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    margin-bottom: 43px;
    padding: 0;
    list-style: none;
}

.results-item-content-rating-star li {
    margin-right: 5px;
}

.results-item-content-rate {
    padding: 5px 13px 6px 16px;
}

.results-item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}

.results-item-content-title {
    margin: 0;
    margin-top: -5px;
    margin-bottom: 5px;
    padding: 0;
}

.results-item-content-title-link {
    margin: 0;
    padding: 0;
}

.results-item-wrapper {
    margin: 0;
    margin-left: 30px;
    padding: 0;
}

.results-item-content-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 18px;
}

.button-more {     
    padding: 5px 17px;
    margin-right: 2px;
}

.button-book {
    padding: 5px 17px;
}

.main-footer.inner {
    position: static;
    margin: 0 auto;
    padding-top: 8px;
}

.filters-form-range {
    width: 318px;
    color: #ffffff;
}

.filters-form-range-title {
    margin-bottom: 9px;
}

.filters-form-range-price-control {
    position: relative;
    font-size: 0;
    height: 36px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.filters-form-range-price-control:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 2px;
    height: 22px;
    background: #ffffff;
}

.filters-form-range-price-control label {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}

.filters-form-range-price-control .min-price,
.filters-form-range-price-control .max-price {
    width: 90px;
    padding-left: 63px;
    padding-top: 5px;
}

.filters-form-range-price-control input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.filters-form-range-controls {
    position: relative;
    margin-bottom: 32px;
}

.filters-form-range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.filters-form-range-controls .bar {
    height: 2px;
    width: 80%;
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover,
.range-toggle:focus {
    background: #1c4f80;
    border: 9px solid #ffffff;
    outline: none;
}

.filters-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 27px 72px 5px 72px;
}

.filters-form-checkbox-title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.filters-form-checkbox {
    margin: 0;
    margin-right: 119px;
    padding: 0;
}

.filters-form-checkbox-container {
    margin: 0;
    padding: 0;
}

.filters-form-checkbox li {
    margin-bottom: 25px;
    padding-left: 40px;
}

.filters-form-checkbox-item-title {
    position: relative;
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
}

.filters-form-checkbox-item+label:before {
    position: absolute;
    content: "";
    top: -2px;
    left: -40px;
    width: 23px;
    height: 23px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.filters-form-checkbox-item:checked+label:after {
    position: absolute;
    content: "";
    width: 27px;
    height: 23px;
    top: -2px;
    left: -40px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filters-form-checkbox-item:focus+label:before {
    outline: 1px solid #ffffff;
}

.filters-form-checkbox-item:disabled+label:before {
    border: 2px solid #6a6a6a;
}

.filters-form-checkbox-item:checked:disabled+label:after {
    background-image: url("../img/checkbox-dis.svg");
}

.filters-form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}